body {
  background-color: #891616;
}
.banner {
  color: #FBFAF8;
}
h1 {
  text-align: center;
}
.TOC {
  width: 50%;
  background-color: #FBFAF8;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}
.TOC > p {
  text-align: center;
  color: #000000
}
h3 {
  text-align: center;
}
a:link {
  font-weight: bold;
  color: #476C9B;
  text-decoration: none;
}
a:hover {
  color: #891616;
}
a:visited {
  color: #476C9B;
}
.story {
  width: 75%;
  background-color: #FBFAF8;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
}
.chatlog {
  font-family: "Lucida Console";
  background-color: #000000;
  color: white;
  width: 50%;
  margin: auto;
  padding: 10px;
}
.left {
  color: #19FFFF;
}
.right {
  text-align: right;
  color: #19FF19;
}
.nav {
  color: white;
}
.navlink:link {
  color: white;
  text-decoration: underline
}
.navlink:visited {
  color: white;
}
.flashback {
  text-align: right;
  font-style: italic;
}
.quote {
  text-align: center;
  font-weight: bold;
}
.firstperson {
  font-family: "Courier New";
  font-style: italic;
}
